<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/5c52897c-7408-44ce-9133-f824c62cb9f2/resourceGroups/Incentivosproject/providers/Microsoft.Web/sites/incentivosApi</ResourceId>
    <ResourceGroup>Incentivosproject</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://incentivosapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b09cf50a-280b-4a0f-9750-5aa1b1a951ec</ProjectGuid>
    <PublishUrl>https://incentivosapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$incentivosApi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>